<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daily Gaming News - Gamerly</title>
    <meta name="description" content="Daily gaming news summarized into a TL;DR format">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="<%= url_for(format: :html, only_path: false) %>">
    <link rel="amphtml" href="<%= url_for(format: :amp, only_path: false) %>">
    <link rel="manifest" href="/manifest.json">
    <style>
      <%= raw File.read("#{Rails.root}/public/minimal.css") %>
      .article{margin-bottom:20px}
      .subtitle{margin-top:-1.25rem}
      .no-js img.lazyload{display:none}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/4.1.4/lazysizes.min.js" async></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "9e016566-8d7f-420d-a263-1ae0b6b6bbcf",
        });
      });
    </script>
    <script type="application/ld+json">
      {
        "@content": "http://schema.org",
        "@type": "WebSite",
        "url": "https://gamerly.disvelop.net"
      }
    </script>
  </head>
  <body>
    <div class="container is-fluid">
      <%= yield %>
    </div>
  </body>
</html>
