<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Daily Gaming News - Gamerly</title>
    <meta name="description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">

    <style>
      .article { margin-bottom: 20px; }
    </style>
  </head>
  <body>
    <div class="container is-fluid">
      <%= yield %>
    </div>
  </body>
</html>
